
.services-hero{
    /*background:#eff6ff;*/
    padding:120px 0 80px;
    text-align:center;
    /*background-image: url("/images/bg/bg1.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/

    /*!* Затемнення через окремий фон *!*/
    /*position: relative;*/
    /*z-index: 1;*/
}

/* Затемнення через псевдоелемент */
/*.services-hero::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0, 0, 0, 0.3); !* 0.6 - це 60% затемнення *!*/
/*    z-index: -1;*/
/*}*/

/* Щоб контент був поверх затемнення */
/*.services-hero .container {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/


.services-hero h1{
    font-size:42px;
    font-weight:700;
    margin-bottom:10px;
}

.services-hero p{
    max-width:600px;
    margin:auto;
    font-size:18px;
    color:#555;

}

/*!*Services*!*/



/* карточка */

.cta-card{

    background:#fff;

    border-radius:16px;

    padding:45px 50px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    box-shadow:0 15px 40px rgba(0,0,0,0.08);

    gap:30px;

}



/* кнопка */

.cta-action .btn{

    padding:14px 30px;
    font-size:16px;

}


/* адаптив */

@media (max-width:768px){

    .cta-card{

        flex-direction:column;
        text-align:center;

        padding:35px;

    }

}



