.cta-section{
    /*background:#2563eb;*/
    /*color:#fff;*/
    text-align:center;
}

.cta-section h2{
    font-size:32px;
    margin-bottom:10px;
}

.cta-section p{
    opacity:0.9;
    margin-bottom:25px;
}
.cta-card{
    background:#fff;
    border-radius:16px;
    padding:45px 50px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow:0 15px 40px rgba(0,0,0,0.08);
    gap:30px;
}

@media (max-width:768px){
    .cta-card{
        flex-direction:column;
        text-align:center;
        padding:35px;
    }

}